body {
    color: rgba(18, 41, 77, 1);
    background-color: rgba(73, 94, 113, 0.11);
    font-family:"Lato", Helvetica, Arial, sans-serif;
    margin:0px;
    vertical-align: middle;
}

.background-image {
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    margin:0px;
    z-index: 1;
    height:100%;
    display: block;
    background: url("img/homepage.jpg") no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-filter: blur(2px) opacity(0.6);
    -moz-filter: blur(2px) opacity(0.6);
    -o-filter: blur(2px) opacity(0.6);
    -ms-filter: blur(2px) opacity(0.6);
    filter: blur(2px);
}

.old-mail h2 {
    font-size: 200%;
}
#cap-label {
    margin-bottom: 10px;
}

.container {
    position: relative;
    z-index: 100;
    width: 400px;
    height: auto;
    margin: 5px auto;
    margin-top:0px;

    text-align: center;
}

.content {
    background-color: rgba(249, 250, 252, 1);
    border-radius: 4px;
    padding: 15px 3px 1px 3px;
    margin-top:30px;
}

fieldset{
    border: 0;
    text-align: left;
}
.gender-cont ul { overflow:hidden; -webkit-padding-start: 0px;}
.radio-button li{ float:left; clear:none; list-style-type: none }
.radio-button label[for=sesso] { padding: 2px 1em 0px 0px;}
.radio-button label { float:left; clear:none; display:block; padding: 2px 1em 0 5px; }
input[type=radio], input.radio { float:left; clear:none; margin: 2px 0 0 2px;width: auto; }

#date-container { float: right; }
select {
    background-color: rgba(60, 184, 188, 1);
    color: rgba(256, 256, 256, 1);
    border: none;
    padding: 2px 15px 1px 15px;
    vertical-align: bottom;
    height: 17px;
    text-align: center;
    border-radius: 2px;
    font-family: "Helvetica",Helvetica,Arial,sans-serif;

}
form input {
    padding:3% 2%;
    font-size:14px;
    /*border:1px solid #999999;*/
    border: none;
    width:100%;
    margin-bottom:2%;
    border-bottom: 1px solid #e5e5e5;
    background: rgba(244, 242, 242, 0.26);
    /*box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);*/
}
form input:focus {
    outline:none;
    background: rgba(231, 231, 231, 1)
}
.error {
    background-color:  rgba(220, 58, 20, 0.34);
}
form input[type="checkbox"] {
    width: auto;
}

#box-privacy {
    text-align: left;
    padding: 2%;
    padding-left: 6%;
    font-size: 80%;

}
#box-privacy ul {
    -webkit-margin-before: 0.5em;
    -webkit-padding-start: 15px;
}

#box-privacy li {
    list-style-type: none;
}


.submit {
    -webkit-transition:all 0.3s linear;
    transition:all 0.6s ease-out;
    width: 100%;
    /*font-weight: bold;*/
    padding: 12px 15px;
    background: rgba(19, 192, 22, 1);
    color: #fff !important;
    font-size: 16px;
    font-family: "Helvetica",Helvetica,Arial,sans-serif;
    cursor: pointer;
    text-decoration: none;
    /*text-shadow: 0 1px 0px rgba(0,0,0,0.15);*/
    /*border-width: 1px 1px 3px !important;*/
    border-style: solid; /*serve a dare l'effetto "lucido"*/
    border-style:none;
    border-color:rgba(121, 132, 164, 0.58);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    text-align:center;
    zoom: 1;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    -moz-box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
}

.submit:hover {
    -webkit-transform:scale(0.985);
    transform:scale(0.985);
}
.submit.half {
    width: 44%;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.4);
}

#lightbox {
    background-color: rgba(256,256,256,1);
    width:500px;
    margin-left: -270px;
    margin-top: -90px;
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    padding:10px 20px 20px 20px;
    display: none;
}

@media screen and (max-width: 540px) {
    .container, #lightbox {
        width: 100%;
    }



}

